<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Default Description" />
  <meta name="keywords" content="E-commerce" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AWROMA</title>
  <link rel="stylesheet" href="../CSS/style.css">
</head>

<body class="home">
  <header class="primary-header">

    <nav>
      <ul class="flex primary-navigation underline-indicators">
        <li><a href="AWROMA/TEMPLATE/menswear.html" class="text-white ff-serif letter-spacing-2">MEN</a></li>
        <li><a href="AWROMA/TEMPLATE/womenwear.html" class="text-white ff-serif letter-spacing-2">WOMEN</a></li>
        <li><a href="AWROMA/TEMPLATE/childrenswear.html" class="text-white ff-serif letter-spacing-2">CHILDREN</a></li>
        <li><a href="AWROMA/TEMPLATE/sportswear.html" class="text-white ff-serif letter-spacing-2">SPORTWEAR</a></li>
      </ul>
      <h1 class="logo ff-PT-serif">AWROMA</h1>
    </nav>
  </header>
<div class="container">
<h1>BEST SELLING PRODUCTS</h1>
<button class="ff-sans-cond fs-600 text-dark ">SHOP NOW</button>
</div>



</body>

</html>