<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Default Description"/>
  <meta name="keywords" content="E-commerce"/>
  <meta name="robots" content="INDEX,FOLLOW"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AWROMA</title>
  <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
  <header class="primary-header flex">
    <div>
    <img src="../IMAGES/LOGO/AWROMA (2).png" alt="" width="100" height="100">
    </div>
    <ul class=" primary-navigation flex">
<li class="active"><a href="AWROMA/TEMPLATE/menswear.html" class="">MEN</a></li>
<li><a href="AWROMA/TEMPLATE/womenwear.html">WOMEN</a></li>
<li><a href="AWROMA/TEMPLATE/childrenswear.html">CHILDREN</a></li>
<li><a href="AWROMA/TEMPLATE/sportswear.html">SPORTWEAR</a></li>
    </ul>
  </header>
</body>
</html>
