<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Default Description"/>
  <meta name="keywords" content="E-commerce"/>
  <meta name="robots" content="INDEX,FOLLOW"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AWROMA</title>
  <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
  <header class="primary-header flex">
    <div>
      <img src="../IMAGES/LOGO/AWROMA-logos.jpeg" alt="AWROMA" class="logo" width="200" height="75">
    </div>
    <ul class=" primary-navigation flex">
<li class="active"><a href="#" class="">MEN</a></li>
<li><a href="#">WOMEN</a></li>
<li><a href="#">CHILDREN</a></li>
<li><a href="#">SPORTWEAR</a></li>
    </ul>
  </header>
</body>
</html>
