<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Default Description"/>
  <meta name="keywords" content="E-commerce"/>
  <meta name="robots" content="INDEX,FOLLOW"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AWROMA</title>
  <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
<div class="section">
<div class="side-navbar">
  <div class="mini-cart">
<a href="#">
<img src="../IMAGES/side-navbar/shopping-bag.png" alt="">
</a>
  </div>

</div>
</div>
</body>

</html>
